@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Taviraj&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-container{
    padding: 0 8%;
}

.panel{
    content: '';
    width: 100%;
    height: 25px;
    margin-bottom: 50px;
}

button{
    background-color: #c73c00;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    font-family: poppins;
    transition: 0.4s;
}

button:hover{
    transform: scale(0.97);
    opacity: 0.7;
}


@media (max-width: 900px){
    .all-restaurants{
        grid-template-columns: 1fr 1fr !important;
    }
}

@media (max-width: 500px){
    .all-restaurants{
        grid-template-columns: 1fr !important;
    }
}
